aiosmtplib
annotated-types
anyio
blinker
certifi
cffi
cryptography
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
fastapi-mail
graphql-core
h11
httpcore
idna
Jinja2
MarkupSafe
motor
passlib
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
pymongo
python-dateutil
python-dotenv
python-jose
python-multipart
rsa
six
sniffio
starlette
strawberry-graphql
typing_extensions
